.timesheet .upload input[type="file"] {
    display: none;
}

.timesheet .approve {
  font-size: 0.9em;
  height: 31px;
}
  
.timesheet .upload {
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 10px;
  background-color: #7ed386;
  font-size: 0.9em;
}
