.logout {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 90px;
  position: absolute;
  z-index: 1;
  display: flex;
  background: #A7E2E3;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.logout:hover {
  background: #3fb6a8;
  transform: scale(1.1);
}

.logout h1 {
  color: #ffffff;
  font-size: 1em;
  margin: auto;
}
