.loadmore {
  color: #7ed386;
  text-decoration: underline;
  background: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.loadmore:focus {
  outline: none;
}

.loadmore:hover {
  color: #3fb6a8;
}
