footer {
  display: flex !important;
  padding-top: 5px;
  padding-right: 30px;
  letter-spacing: 2px;
  justify-content: flex-end;
  align-items: flex-start;
}

.sentence {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  color: black;
}
