@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:wght@400;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: #F3F5F9;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 8%;
}

.app-container {
  background: #ffffff;
  width: 94%;
  height: 82%;
  margin: auto;
  position: relative;
  display: flex;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.footer {
  width: 100%;
  height: 6%;
}

.leftbox {
  float: left;
  top: -4%;
  left: 30px;
  position: absolute;
  width: 120px;
  height: 108%;
  background: #7ed386;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

nav a{
  list-style: none;
  padding: 35px;
  color: #ffffff;
  font-size: 2em;
  display: block;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  color: #3fb6a8;
  transform: scale(1.2);
  cursor: pointer;
}
nav a:first-child {
  margin-top: 7px;
}
.active {
  color: #3fb6a8;
}

.rightbox {
  margin-left: 170px;
  flex: 1;
  height: 100%;
}

.rightbox .row{
  margin-top: 15px;
  margin-bottom: 15px;
}

.timesheet,
.summary,
.profile {
  transition: opacity 0.5s ease-in;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #7ed386;
  /* font-size: 1em; */
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #3fb6a8;
}

.btn:hover {
  text-decoration: underline;
  font-weight: 900;
}

input {
  border: 1px solid #dddddd;
  font-family: "Roboto", sans-serif;
  padding: 2px;
  margin: 0;
}

.noshow {
  opacity: 0;
}

table {
  color: #777777;
  height: 350px;
  width: 95%;
  border-spacing:0px;
  margin-left: 2%;
}

th, td {
  border-bottom: 1px solid #66C4B9;
  font-size: 17px;
  padding-right: 3%;
}

tr:hover {
  background-color: rgb(218, 248, 214);
}