.profile .upload input[type="file"] {
    display: none;
}
  
.profile .upload {
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 10px;
  background-color: #7ed386;
  font-size: 0.9em;
}

.profile .avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}